---
title: Notes
---

- current_page.data.subtitle = subtitle

.sm-flex.flex-auto.mxn2.container
  .flex-auto.p2.sm-col-9.actual-content
    =partial "notes/_#{sec.name.to_s.tr(" ", "_")}.html"

    - previous_sec = ""
    - next_item = ""
    - previous = ""
    - last_was_it = false
    - info.sections.each do |loop_sec|
      - if loop_sec == sec
        - last_was_it = true
        - previous = previous_sec
      - elsif last_was_it
        - next_item = loop_sec
        - break
      - else
        - previous_sec = loop_sec
    
    .previous-next-buttons
    - if previous != ""
      .btn.previous
        = link_to "Previous", "notes/#{CGI::escape(previous.name.tr(":", ""))}.html"
    - if next_item != ""
      .btn.next
        = link_to "Next", "notes/#{CGI::escape(next_item.name.tr(":", ""))}.html"

  .flex-auto.p2.sm-col-3.sidebar
    %h2 Sections
    %ul.section-list.list-reset
      - info.sections.each do |loop_sec|
        - if loop_sec == sec
          - this_class = "active"
        - else
          - this_class = "inactive"
        %li{:class => this_class}= link_to loop_sec.name.to_s, "/notes/#{CGI::escape(loop_sec.name.tr(":", ""))}.html"

