%ul
  %li{class: (current_page.path == "index.html" ? "active": "inactive")}= link_to "Home", "/index.html", :relative => true, "class" => "btn block"
  %li{class: (current_page.path == "sections.html" ? "active": "inactive")}= link_to "Notes", "/sections.html", :relative => true, "class" => "btn block"
  %li{class: (current_page.path == "lectures.html" ? "active": "inactive")}= link_to "Lectures", "/alllectures.html", :relative => true, "class" => "btn block"
  %li{class: (current_page.path == "extra.html" ? "active": "inactive")}= link_to "Interactive", "/extra.html", :relative => true, "class" => "btn block"
  %li{class: (current_page.path == "glossary.html" ? "active": "inactive")}= link_to "Glossary", "/glossary.html", :relative => true, "class" => "btn block"
  %li{class: (current_page.path == "search.html" ? "active": "inactive")}= link_to "Search", "/search.html", :relative => true, "class" => "btn block"
